server:
  port: 8084

spring:
  application:
    name: price-processor-service

  kafka:
    bootstrap-servers: kafka:29092
    consumer:
      group-id: price-processor-group
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: "*"

  data:
    redis:
      host: redis
      port: 6379
      password: myredis

  jackson:
    serialization:
      write-dates-as-timestamps: false
      write-date-timestamps-as-nanoseconds: false
    deserialization:
      fail-on-unknown-properties: false
      accept-empty-string-as-null-object: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  metrics:
    export:
      simple:
        enabled: true
    tags:
      application: price-processor-service
      service: price-processor-service
      env: docker-local
  tracing:
    sampling:
      probability: 1.0
  endpoint:
    health:
      show-details: always

logging:
  level:
    com.espejo: DEBUG